body{
    background:linear-gradient(to bottom, rgb(12, 92, 54),rgb(2, 65, 12),rgb(0, 69, 73),rgb(1, 18, 71));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}
h1,h2{
    color:white;
    text-align: center;
    margin-top: 2rem;
}

.parrafo1{
    text-align:center;
    color: white;
    font-size: 1.5rem;
}
#btnInfo{
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem .5rem;
    border: none;
    background-color: rgb(12, 55, 95);
    color: white;
    font-size: 1.2rem;
    border: 2px solid rgb(97, 112, 223);
}
#btnInfo:hover{
    background-color: rgb(3, 46, 80);
}

.contenedor{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.section1,.section2,.section3{
    text-align: center;
    color: white;
}
.contenedor-btns{
    display: flex;
    justify-content: space-around;
}
.btnAceptar{
    border:2px solid black;
    padding: 0.5rem 1.5rem;
    background: green;
    color: white;
    font-size: 1rem;
}

.btnEliminar{
    border:2px solid black;
    padding: 0.5rem 1.5rem;
    background: red;
    color: white;
    font-size: 1rem;
}
.btnAceptar:hover{
    background: rgb(1, 113, 1);
}
.btnEliminar:hover{
    background: rgb(192, 0, 0);
}